<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.2-alpha" targetFramework="net35" />
  <package id="Accord.Audio" version="3.8.0" targetFramework="net35" />
  <package id="Accord.DirectSound" version="3.8.2-alpha" targetFramework="net35" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net35" />
  <package id="CSCore" version="1.2.1.2" targetFramework="net35" />
  <package id="NAudio" version="1.8.4" targetFramework="net35" />
  <package id="SharpDX" version="2.6.3" targetFramework="net35" />
  <package id="SharpDX.DirectSound" version="2.6.3" targetFramework="net35" />
</packages>